<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Document</title>
</head>

<body>
  <h1>LOAD BALANCER</h1>
  <P>A load balancer acts as the “traffic cop” sitting in front of your servers and routing client requests across all
    servers capable of fulfilling those requests in a manner that maximizes speed and capacity utilization and ensures
    that
    no one server is overworked, which could degrade performance. If a single server goes down, the load balancer
    redirects
    traffic to the remaining online servers. When a new server is added to the server group, the load balancer
    automatically
    starts to send requests to it.</P>
  <br>
  <h3>Load Balancing Algorithms</h3>
  <p>Different load balancing algorithms provide different benefits. Following are some of the popular ones.</p>
  <ul>
    <li><b>Round Robin</b> – Requests are distributed across the group of servers sequentially.</li>
    <li><b>Least Connections</b> – A new request is sent to the server with the fewest current connections to clients. The relative
    computing capacity of each server is factored into determining which one has the least connections</li>
    <li><b>IP Hash</b> – The IP address of the client is used to determine which server receives the request.</li>
  </ul>
  <br>
  <h3>Demonstration of the Round Robing Load Balancing Algorithms</h3>
  <strong style="color: blue;">On the backend there are 5 servers from 1 to 5. Each working independently and concurrently.</strong>
  <br>
  <div class="networkStructure">
    <div class="senderSide">
      <button class="senderButton" onclick="window.location.href=window.location.href">Sender1</button>
      <button class="senderButton" onclick="window.location.href=window.location.href">Sender2</button>
      <button class="senderButton" onclick="window.location.href=window.location.href">Sender3</button>
      <button class="senderButton" onclick="window.location.href=window.location.href">Sender4</button>
    </div>
    <div class="arrows">
      <div class="arrow-block">
        <div class="arrow"></div>
        <div class="arrow-pointer"></div>
      </div>
    </div>
    <div class="loadBalancer">Load Balancer</div>
    <div class="arrows">
      <div class="arrow-block"><div class="arrow"></div><div class="arrow-pointer"></div></div>
      <div class="arrow-block"><div class="arrow"></div><div class="arrow-pointer"></div></div>
      <div class="arrow-block"><div class="arrow"></div><div class="arrow-pointer"></div></div>
      <div class="arrow-block"><div class="arrow"></div><div class="arrow-pointer"></div></div>
      <div class="arrow-block"><div class="arrow"></div><div class="arrow-pointer"></div></div>
    </div>
    <div class="servers">
      <div style="display: flex; align-items: center;">
        <div class="server serving">1</div>
        <form action="/" method="post"><button class="<%= serversState[0] %>" name="server" value="1">State</button></form>
      </div>
      <div style="display: flex; align-items: center;">
        <div class="server">2</div>
        <form action="/" method="post"><button class="<%= serversState[1] %>" name="server" value="2">State</button></form>
      </div>
      <div style="display: flex; align-items: center;">
        <div class="server">3</div>
        <form action="/" method="post"><button class="<%= serversState[2] %>" name="server" value="3">State</button></form>
      </div>
      <div style="display: flex; align-items: center;">
        <div class="server">4</div>
        <form action="/" method="post"><button class="<%= serversState[3] %>" name="server" value="4">State</button></form>
      </div>
      <div style="display: flex; align-items: center;">
        <div class="server">5</div>
        <form action="/" method="post"><button class="<%= serversState[4] %>" name="server" value="5">State</button></form>
      </div>
    </div>
  </div>
  <h3 style="text-align: center;">Current page is sent by server number: <span id="serverNumber" style="color:darkred;"><%= serverNumber %></span></span></h3>
  <br><br><br>
  <script>
    var x = document.getElementById("serverNumber").innerHTML;
    var y = document.getElementsByClassName("server");
    for(let i=0; i<y.length; i++){
      if(i+1 == x) y[i].classList = "server serving";
      else y[i].classList = "server";
    }
    var z = document.getElementsByName("name");
    for(let i=0; i<z.length; i++) z[i].addEventListener("click", () => {
      console.log(this.classList);
    })
  </script>
</body>

</html>